<div id="controls_elements">
    <script>
        /*
        var controls_elements = document.createElement('div');
        var target = window.frameElement.parentElement;
        target.parentElement.insertBefore(controls_elements, target.nextSibling);
        */
        var loader = document.getElementById("loader");
        
        var container = window.frameElement.parentElement;
        clearMenu = function(){
            while(controls_elements.firstChild)
                controls_elements.removeChild(controls_elements.firstChild);
        }
        var resetControlsHeight = function(){
            //offset container height with height of controls
            container.style.height = controls_elements.parentElement.offsetHeight + "px";
        }
        var resetAspectRatio = function(){
            //correct container aspect ratio with video aspect ratio
            container.style.paddingBottom = 100/video.offsetWidth*video.offsetHeight + "%";
            loader.style.height = video.offsetHeight + "px";
        }
        addMenu = function(title, options, handler, selectedIndex){
            var div = document.createElement("div");
            var label = document.createElement("label");
            label.innerText = title;
            div.appendChild(label);
            
            
            var select = document.createElement("select");
            label.addEventListener("click", function(e){
                select.click();
            });
            for(var i = 0; i < options.length; i++){
                var o = options[i];
                var opt = document.createElement("option");
                opt.innerText = o.title;
                opt.info = o.info;
                if(i == selectedIndex)
                    opt.selected = true;
                select.appendChild(opt);
            }
            div.appendChild(select);
            select.addEventListener("change", handler);
            controls_elements.appendChild(div);
            
            resetControlsHeight();
        };
        var loader = document.getElementById("loader");
        function hideLoader(){
            if(!loader.classList.contains("hide"))
                loader.classList.add("hide");
        }
        video.addEventListener("loadeddata", resetAspectRatio);
        video.addEventListener("error", hideLoader);
        video.addEventListener("loadstart", resetAspectRatio);
        video.addEventListener("playing", resetAspectRatio);
        var both = function(e){
            resetAspectRatio();
            resetControlsHeight();
            hideLoader();
        };
        window.addEventListener("resize", both);
        video.addEventListener("loadedmetadata", both);
        window.addEventListener("load", both);
        window.addEventListener("keydown", function(e){
            container.dispatchEvent(new e.constructor(e.type, e));
        });
    </script>
</div>
