<div id="controls_elements">
    <script>
        /*
        var controls_elements = document.createElement('div');
        var target = window.frameElement.parentElement;
        target.parentElement.insertBefore(controls_elements, target.nextSibling);
        */
        var canvas = document.createElement("canvas");
        canvas.width = 720;
        canvas.height = 404;
        var ctx = canvas.getContext("2d");
        ctx.font = "bold 65pt sans-serif";
        ctx.fillStyle = "#333";
        ctx.textAlign="center";
        ctx.fillText(title.toUpperCase(),360,200);
        ctx.font = "italic 12pt sans-serif";
        ctx.fillText(uri,360,250);
        video.poster = canvas.toDataURL();
        canvas = null;
        var container = window.frameElement.parentElement;
        clearMenu = function(){
            while(controls_elements.firstChild)
                controls_elements.removeChild(controls_elements.firstChild);
        }
        var resetControlsHeight = function(){
            //offset container height with height of controls
            container.style.height = controls_elements.parentElement.offsetHeight + "px";
        }
        var resetAspectRatio = function(){
            //correct container aspect ratio with video aspect ratio
            container.style.paddingBottom = 100/video.offsetWidth*video.offsetHeight + "%";
        }
        addMenu = function(title, options, handler, selectedIndex){
            var div = document.createElement("div");
            var label = document.createElement("label");
            label.innerText = title;
            div.appendChild(label);
            
            
            var select = document.createElement("select");
            label.addEventListener("click", function(e){
                select.click();
            });
            for(var i = 0; i < options.length; i++){
                var o = options[i];
                var opt = document.createElement("option");
                opt.innerText = o.title;
                opt.info = o.info;
                if(i == selectedIndex)
                    opt.selected = true;
                select.appendChild(opt);
            }
            div.appendChild(select);
            select.addEventListener("change", handler);
            controls_elements.appendChild(div);
            
            resetControlsHeight();
        };
        video.addEventListener("loadeddata", resetAspectRatio);
        video.addEventListener("loadstart", resetAspectRatio);
        video.addEventListener("playing", resetAspectRatio);
        window.addEventListener("resize", resetControlsHeight);
        video.addEventListener("loadedmetadata", function(e){
            resetAspectRatio();
            resetControlsHeight();
        });
        window.addEventListener("load", function(e){
            resetControlsHeight();
            resetAspectRatio();
        });
        window.addEventListener("keydown", function(e){
            container.dispatchEvent(e);
        });
    </script>
</div>
